<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}"/>
<link href="static/jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="static/jquery/jquery-1.11.1-min.js"></script>
<script type="text/javascript" src="static/jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>


<link href="static/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="static/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="static/jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js"></script>

<script type="text/javascript">
	$(function(){
		$("#isCreateTransaction").click(function(){
			if(this.checked){
				$("#create-transaction2").show(200);
			}else{
				$("#create-transaction2").hide(200);
			}
		});

		// 弹出市场活动源模态窗口
		$("#showActivityModal").click(function () {
			// 初始化清空
			$("#searchPlace").val("")
			$("#activityToby").html("")
			// 弹
			$("#searchActivityModal").modal("show")
		})

		$("#searchPlace").keyup(function () {
			// 收集数据
			let name = $.trim(this.value)
			let clueId = $("#clueId").val()
			// 发送请求
			$.ajax({
				url : "workbench/clue/showActivityDataSource.do",
				dataType : "json",
				data : {
					name : name,
					clueId : clueId
				},
				type : "get",
				success : function (array) {
					let htmlStr = ""
					$.each(array, function () {
						htmlStr += "<tr>"
						htmlStr += "<td><input atvName='"+this.name+"' value='"+this.id+"' type=\"radio\" name=\"activity\"/></td>"
						htmlStr += "<td>"+this.name+"</td>"
						htmlStr += "<td>"+this.startDate+"</td>"
						htmlStr += "<td>"+this.endDate+"</td>"
						htmlStr += "<td>"+this.owner+"</td>"
						htmlStr += "</tr>"
					})
					$("#activityToby").html(htmlStr)
				}
			})
		})

		//市场活动源选择
		$("#activityToby").on("click", "input[type='radio']", function () {
			$("#searchActivityModal").modal("hide")
			let activityId = this.value
			let activityName = $(this).attr("atvName")
			$("#activityId").val(activityId)
			$("#activityName").val(activityName)
		})

		// 转换线索
		$("#doConvertBtn").click(function () {
			// 收集数据
			let clueId = $("#clueId").val();
			let isTran = $("#isCreateTransaction").prop("checked")
			let money = $.trim($("#amountOfMoney").val())
			let name = $("#tradeName").val()
			let expectedDate = $("#expectedClosingDate").val()
			let stage = $("#stage").val()
			let activityId = $("#activityId").val()
			// 验证表单
			// 发送请求
			$.ajax({
				url : "workbench/clue/doConvert.do",
				type : "post",
				dataType : "json",
				data : {
					clueId : clueId,
					isTran : isTran,
					money : money,
					name : name,
					expectedDate : expectedDate,
					stage : stage,
					activityId : activityId
				},
				success : function (data) {
					if (data.code === "1") {
						window.location.href = "workbench/clue/toIndex.do"
					}else {
						alert(data.msg)
					}
				}
			})
		})
		// 返回页面
		$("#back").click(function () {
			window.history.back()
		})




	});
</script>

</head>
<body>
	<input type="hidden" th:value="${clue.id}" id="clueId">
	<!-- 搜索市场活动的模态窗口 -->
	<div class="modal fade" id="searchActivityModal" role="dialog" >
		<div class="modal-dialog" role="document" style="width: 90%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">搜索市场活动</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group" style="position: relative; top: 18%; left: 8px;">
						<form class="form-inline" role="form">
						  <div class="form-group has-feedback">
						    <input id="searchPlace" type="text" class="form-control" style="width: 300px;" placeholder="请输入市场活动名称，支持模糊查询">
						    <span class="glyphicon glyphicon-search form-control-feedback"></span>
						  </div>
						</form>
					</div>
					<table id="activityTable" class="table table-hover" style="width: 900px; position: relative;top: 10px;">
						<thead>
							<tr style="color: #B3B3B3;">
								<td></td>
								<td>名称</td>
								<td>开始日期</td>
								<td>结束日期</td>
								<td>所有者</td>
								<td></td>
							</tr>
						</thead>
						<tbody id="activityToby">
<!--							<tr>
								<td><input type="radio" name="activity"/></td>
								<td>发传单</td>
								<td>2020-10-10</td>
								<td>2020-10-20</td>
								<td>zhangsan</td>
							</tr>
							<tr>
								<td><input type="radio" name="activity"/></td>
								<td>发传单</td>
								<td>2020-10-10</td>
								<td>2020-10-20</td>
								<td>zhangsan</td>
							</tr>-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="title" class="page-header" style="position: relative; left: 20px;">
		<h4>转换线索 <small th:text="${clue.fullname}+${clue.appellation}+'-'+${clue.company}"></small></h4>
	</div>
	<div id="create-customer" style="position: relative; left: 40px; height: 35px;" th:text="'新建客户：'+${clue.company}"></div>
	<div id="create-contact" style="position: relative; left: 40px; height: 35px;"  th:text="'新建联系人：'+${clue.fullname}+${clue.appellation}"></div>
	<div id="create-transaction1" style="position: relative; left: 40px; height: 35px; top: 25px;">
		<input type="checkbox" id="isCreateTransaction"/>
		为客户创建交易
	</div>
	<div id="create-transaction2" style="position: relative; left: 40px; top: 20px; width: 80%; background-color: #F7F7F7; display: none;" >
	
		<form>
		  <div class="form-group" style="width: 400px; position: relative; left: 20px;">
		    <label for="amountOfMoney">金额</label>
		    <input type="text" class="form-control" id="amountOfMoney">
		  </div>
		  <div class="form-group" style="width: 400px;position: relative; left: 20px;">
		    <label for="tradeName">交易名称</label>
		    <input type="text" class="form-control" id="tradeName" th:value="${clue.company}+'-'">
		  </div>
		  <div class="form-group" style="width: 400px;position: relative; left: 20px;">
		    <label for="expectedClosingDate">预计成交日期</label>
		    <input type="text" class="form-control" id="expectedClosingDate">
		  </div>
		  <div class="form-group" style="width: 400px;position: relative; left: 20px;">
		    <label for="stage">阶段</label>
		    <select id="stage"  class="form-control">
		    	<option value=""></option>
				<option th:each="stg : ${stage}" th:value="${stg.id}" th:text="${stg.value}"></option>
		    </select>
		  </div>
		  <div class="form-group" style="width: 400px;position: relative; left: 20px;">
		    <label for="activityName">市场活动源&nbsp;&nbsp;<a href="javascript:void(0);" id="showActivityModal" style="text-decoration: none;"><span class="glyphicon glyphicon-search"></span></a></label>
			  <input type="hidden" id="activityId">
			  <input type="text" class="form-control" id="activityName" placeholder="点击上面搜索" readonly>
		  </div>
		</form>
		
	</div>
	
	<div id="owner" style="position: relative; left: 40px; height: 35px; top: 50px;">
		记录的所有者：<br>
		<b th:text="${clue.owner}"></b>
	</div>
	<div id="operation" style="position: relative; left: 40px; height: 35px; top: 100px;">
		<input class="btn btn-primary" type="button" id="doConvertBtn" value="转换">
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input class="btn btn-default" type="button" id="back" value="取消">
	</div>
</body>
</html>